<style type="text/css">
  .input-group-addon {
    min-width:220px;
    text-align:left;
}</style>
<div class = "panel panel-info">
   <div class = "panel-heading">
      <h3 class = "panel-title">
         Ramas
      </h3>
   </div>
   
  <div class="panel-body">

     </br>

    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Rama</span>
        <input readonly="" type="text" class="form-control" aria-describedby="sizing-addon1" ng-model="branch.name" value="{{branch.name}}">
    </div>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">Número </span>
        <input readonly="" type="text" class="form-control"  aria-describedby="sizing-addon1" ng-model="branch.number" value="{{branch.number}}">
    </div>
    <!-- </br>
       <button type="button" class="btn btn-success" ng-click="addOrdinance(branch.id)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
     <button type="button" class="btn btn-danger" ng-click='cancelBranch()'><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
     </button>  -->
  </div>

  
</div>