<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<div style="margin-top: 10px;">
				<img src="app/views/img/logo.png">
			</div>
			<h1 class="text-center " ><font color='rgb(0.0027,0.0098,0.443)'> Honorable Concejo Deliberante</font></h1>
			<h1 class="text-center " ><font color='rgb(0.0027,0.0098,0.443)'> de la Ciudad de Posadas</font></h1>
			<h2 class="text-center " ><font color='rgb(0.0027,0.0098,0.443)'> Autogestion Ciudadana</font></h2>
			<h2 class="text-center "><font color='rgb(0.0027,0.0098,0.443)'>Sistema Online</font></h2>

			<h4 class="text-center" ><a ui-sref="index"><img src="app/images/1.png" ></img></a></h4>
			
			<h4 class="text-center" ><a ui-sref="ticket_new"><img src="app/images/2.png"> </img></a></h4>

			<h4 class="text-center" ><a ui-sref="ticket_new"><img src="app/images/4.png"> </img></a></h4>
			<!--<h4 class="text-center " ><a ui-sref="sing_in"><font color='red'> &#62;&#62;Ingreso Usuario Registrados&#60;&#60; </font></a></h4>-->
		</div>
	</div>
</div>




